@import '../../styles/variables';

@mixin button() {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	min-width: 36px;
	min-height: 36px;
	background: gray;
	border-radius: 100%;
	color: $white;
	opacity: 0.5;
	box-sizing: border-box;
	margin: 0 5px;
	cursor: pointer;

	&-disabled{
		display: none;
	}

	&:hover{
		opacity: 1;
	}

	.fa {
		width: 20px;
		height: 20px;
		font-size: 20px;
		font-weight: lighter;
		text-align: center;
	}
}

.el-Button{
	@include button();
}
